<div class="section-light about-me" id="about-me">
    <div class="container">
        <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">About Me</h1>
        </div>
        <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                <p class="is-larger">
                    &emsp;&emsp;<strong> A JavaScript developer dedicated to delivering quality, secure, and flexible
                        applications.</strong>
                </p>
                <br />
                <p>
                    Mr. Hudgins is a driven System Design Engineer with over six years of experience in system design,
                    software
                    development, testing, certification, and functional audit support to several significant United
                    States Navy submarine
                    programs.Mr. Hudgins is committed to solving problems even when presented with complex challenges introduced by working in unique environments.
                </p>
                <br />
                <div class="is-divider"></div>
                <div class="columns about-links">
                    <div class="column">
                        <p class="heading">
                            <i class="fas fa-phone-alt"></i>
                            <strong>Call or Text</strong>
                            <i class="far fa-comment-dots"></i>
                        </p>
                        <p class="subheading">860-885-4219</p>
                    </div>
                    <div class="column">
                        <p class="heading">
                            <strong>Email</strong>
                        </p>
                        <p class="subheading">
                            james.hudgins.work@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
                <img class="is-rounded is-hidden-mobile"
                    src="/assets/Images/91366736_267181704308407_1608092049758748672_n.jpg" alt="Picture of James Hudgins"
                    style="width: 350px;" />
            </div>
        </div>
    </div>
</div>