  <!-- Begin Footer -->
  <div class="footer is-fixed-bottom">
  <div class="columns is-mobile">
  <div class="column"><a href="tel:8608854219"><i class="fas fa-phone-volume fa-lg"></i></a></div>
  <div class="column"><a href="sms://+1-860-885-4219?&body=I%27m%20interested%20in%20your%20services.%20Please%20contact%20me."><i class="fas fa-sms fa-lg"></i></a></div>
  <div class="column"><a href="mailto:james.hudgins.work@gmail.com"><i class="far fa-envelope fa-lg"></i></a></div>
  <div class="column"><a href="https://www.linkedin.com/in/james-hudgins-jr-b857a6131/"><i class="fab fa-linkedin"></i><a></div>
  </div>
  </div>
  <!-- End Footer -->