<!DOCTYPE html>
<head>
    {{!-- <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>
    <section class="hero is-info ">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <h1 id="NavbarNametag">James Hudgins - Professional Portfolio</h1>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#projects">
                                    <span class="icon">
                                        <i class="fas fa-project-diagram"></i>
                                    </span>
                                    <span>Projects</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#resume">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documents</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#contact">
                                    <span class="icon">
                                        <i class="far fa-address-book"></i>
                                    </span>
                                    <span>Contact</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>


