    <div id="resume" class="section-dark resume">
      <div class="container">
        <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">
              Resume
            </h1>
          </div>
          <div class="column is-5 has-text-centered is-offset-1">
            <h2 class="subtitle">
              Download - to have and to hold - comprehensive report on experience.
            </h2>
            <a href="./assets/files/JamesHudginsResume2020.docx">
              <button class="button">
                Download Resume&emsp;<i class="fad fa-download fa-lg"></i>
              </button></a>
          </div>
          <div class="column is-5 has-text-centered">
            <h2 class="subtitle">
              View - just look for now - get the info, save the disk space.
            </h2>
            <a href="./assets/files/JamesHudginsResume2020.pdf">
              <button class="button">
                View Resume&emsp;<i class="fas fa-eye fa-lg"></i>
              </button></a>
          </div>          
        </div>
      </div>
    </div>