<div class="section-light skills" id="skills">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12 about-me">
        <h1 class="title has-text-centered section-title">Skills</h1>
      </div>
      <div class="column is-4" data-aos="fade-in" data-aos-easing="linear">
        <h3>Front end</h3>
        <hr>
        <h1> <span><i class="fab fa-html5 fa-lg"></i></span> HTML</h1>
        <progress class="progress" value="83" max="100">17%</progress>
        <h1> <span><i class="fab fa-css3-alt fa-lg"></i></span> CSS</h1>
        <progress class="progress" value="79" max="100">21%</progress>
        <h1> <span><i class="fab fa-js fa-lg"></i></span> JavaScript</h1>
        <progress class="progress" value="93" max="100">7%</progress>
        <h1> <span><i class="fab fa-react fa-lg"></i></span> React</h1>
        <progress class="progress" value="78" max="100">22%</progress>
      </div>
      <div class="column is-4" data-aos="fade-in" data-aos-easing="linear">
        <h3>Back end</h3>
        <hr>        
        <h1> <span><i class="fas fa-database fa-lg"></i></span> Database</h1>
        <progress class="progress" value="85" max="100">15%</progress>
        <h1> <span><i class="fas fa-wrench fa-lg"></i></span> APIs</h1>
        <progress class="progress" value="90" max="100">90%</progress>
        <h1><span><i class="fab fa-aws fa-lg"></i></span> Cloud (PaaS) <span></span> </h1>
        <progress class="progress" value="83" max="100">17%</progress>
        <h1> <span><i class="fas fa-network-wired fa-lg"></i></span> Network</h1>
        <progress class="progress" value="65" max="100">35%</progress>
      </div>
      <div class="column is-4" data-aos="fade-in" data-aos-easing="linear">
        <h3>SDLC</h3>
        <hr>              
        <h1> <span><i class="fab fa-confluence fa-lg"></i></span> Development</h1>
        <progress class="progress" value="85" max="100">30%</progress>
        <h1> <span><i class="fas fa-vial fa-lg"></i></span> Testing</h1>
        <progress class="progress" value="95" max="100">30%</progress>
        <h1> <span><i class="fas fa-chart-line fa-lg"></i></span> Analysis</h1>
        <progress class="progress" value="71" max="100">26%</progress>
        <h1> <span><i class="fas fa-truck-loading fa-lg"></i></span> Deployment</h1>
        <progress class="progress" value="81" max="100">19%</progress>
      </div>
    </div>
  </div>
</div>